<div class="box ml-3 mr-3 has-background-danger-light">
    <h2 class="title is-size-3 has-text-danger has-text-centered">Login Failed</h2>
<p class="has-text-danger has-text-centered">
    Incorrect login details. Please try entering your details again.
</p>
</div>