{{> menu active="dashboard"}}

<div>
    {{latestCode}}
    {{latestTemperature}}
    {{latestWindSpeed}}
    {{latestPressure}}
</div>

<section class="section">
  {{> list-stations}}
  {{> add-station}}
</section>